<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="">Video Annotation</a>
</nav>
<main class="app-container">
    <aside>
        <div class="feature-layers" id="layerGroup">
            <label id="layerCar" class="btn btn-secondary btn-lg btn-block">Car</label>
            <label id="layerBus" class="btn btn-secondary btn-lg btn-block">Bus</label>
            <label id="layerTruck" class="btn btn-secondary btn-lg btn-block">Truck</label>
            <label id="layerLane" class="btn btn-secondary btn-lg btn-block">Lane</label>
        </div>
        <div class="save-btn">
            <button type="button" class="btn btn-primary btn-lg btn-block" id="saveBtn">Save</button>
        </div>

        <label id="init-annotation" class="btn btn-secondary btn-lg btn-block">Init Annotation</label>
    </aside>
    <section class="main">
        <article id="map" class="map"></article>

        <video id="my-player" class="video-js" crossorigin="anonymous"
               data-setup='{"controls": true, "autoplay": false, "preload": "auto"}'>
            <source src="http://aamirmukaram.com/videos/sample.mp4" type="video/mp4">
        </video>
    </section>
</main>
</body>
</html>
