@import "~bootstrap/scss/bootstrap";
@import "~leaflet/dist/leaflet.css";

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

main.app-container {
    flex: 1;
    display: flex;

    > aside {
        flex: 20%;
    }

    > section {
        flex: 80%;
    }
}

main.app-container {
    > aside {
        display: flex;
        flex-direction: column;

        .feature-layers {
            flex: 1;

        }

        .save-btn {
            margin: 15px 15px;
        }
    }
}

article.map {
    height: 100%;
}

.leaflet-div-icon {
    background: #fff;
    border: 1px solid #666;
    margin-left: -5px !important;
    margin-top: -5px !important;
    width: 10px !important;
    height: 10px !important;
    border-radius: 100%;
}

.leaflet-interactive {
    stroke: navy;
    stroke-opacity: 1;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: navy;
    fill-opacity: 0.2;
    fill-rule: evenodd;
}
